.card-style img {
	width: 120px;
	height: 120px;
}

.card-style {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 8px;
	box-shadow: 0px 20px 30px rgba(30, 30, 30, 0.3);
	border-radius: 8px;
	margin: 8px;
	flex-basis: 200px;
	flex-grow: 1;
}

.card-style img {
	width: 250px;
	height: 200px;
	border-radius: 4px;
}

.card-style a {
	font-size: 20px;
	margin-right: 24px;
}

.card-style h2 {
	flex-grow: 1;
	margin-left: 24px;

}